{{ define "main" }}

<section class="container mt-5 mb-7">
    <h1 class="h3 my-4 font-weight-bold">Datenschutzerklärung</h1>
    <h2 class="h4 mb-4 mt-5">1. Erhebung, Verarbeitung und Nutzung personenbezogener Daten</h2>
    <p>
        Bei einem Besuch dieser Website erheben wir keine personenbezogenen Daten von Ihnen. Personenbezogene Daten
        werden nur erhoben, wenn Sie uns diese selbst über unser Kontaktformular mitteilen. Diese Daten werden
        ausschliesslich zur Beantwortung Ihres Anliegens genutzt und danach wieder gelöscht.
    </p>

    <h2 class="h4 mb-4 mt-5">2. Verwendung von eigenen Cookies</h2>
    <p>
        Beim Aufruf bestimmter Seiten wird ein so genanntes «Session-Cookie» gesetzt. Hierbei handelt es sich um eine
        kleine Textdatei, die nach Ende der Browser-Sitzung automatisch wieder von Ihrem Computer gelöscht wird. Diese
        Datei dient ausschliesslich dazu, bestimmte Applikationen nutzen zu können. Sie können bei den meisten
        Webbrowsern die Einstellungen so ändern, dass Ihr Browser neue Cookies nicht akzeptiert oder Sie können
        erhaltenen Cookies löschen lassen. Wie dies konkret für Ihren Browser funktioniert, kann in der Regel über
        dessen Hilfe-Funktion in Erfahrung gebracht werden.
    </p>

    <h2 class="h4 mb-4 mt-5">3. Server-Log-Dateien</h2>
    <p>
        Wie bei jeder Verbindung mit einem Webserver protokolliert und speichert der Server unseres Webhosting-Anbieters
        <a href="https://www.netlify.com/">Netlify</a>, bestimmte technische Daten. Zu diesen Daten gehören die
        IP-Adresse und das Betriebssystem Ihres Geräts, die Daten, die Zugriffszeit, die Art des Browsers sowie die
        Browser-Anfrage inklusive der Herkunft der Anfrage (Referrer). Dies ist aus technischen Gründen erforderlich, um
        Ihnen unsere Website zur Verfügung zu stellen. Der Webhosting-Anbieter schützt diese Daten mit technischen und
        organisatorischen Massnahmen vor unerlaubten Zugriffen und gibt sie nicht an Dritte weiter. Soweit wir dabei
        personenbezogene Daten verarbeiten, tun wir dies aufgrund unseres Interesses, Ihnen die bestmögliche
        Nutzererfahrung zu bieten und die Sicherheit und Stabilität unserer Systeme zu gewährleisten.
    </p>

    <p>Diese Seite wird auf <a href="https://www.netlify.com/">Netlify</a> gehostet. Weitere Details zum Datenschutz von
        Netlify entnehmen Sie bitte <a href="https://www.netlify.com/gdpr/">https://www.netlify.com/gdpr/</a>.</p>

    <h2 class="h4 mb-4 mt-5">4. Google Analytics (falls vorhanden)</h2>

    <p>Diese Website nutzt Google Analytics, einen Webanalysedienst der Google Inc., 1600 Amphitheatre Parkway, Mountain
        View, CA 94043, USA. Google Analytics verwendet sog. «Cookies», d.h. Textdateien, die auf Ihrem Computer
        gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen.
    </p>
    <p>Google nutzt diese Informationen, um im Auftrag des Betreibers dieser Website Ihre Nutzung der Website
        auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und
        der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von
        Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google
        zusammengeführt.
    </p>
    <p>
        Durch eine entsprechende Einstellung in Ihrem Browser können Sie die Speicherung der Cookies verhindern oder
        wieder löschen.
    </p>

    <h2 class="h4 mb-4 mt-5">6. Ihre Rechte</h2>
    <p>
        Ihnen stehen grundsätzlich die Rechte auf Auskunft, Berichtigung, Löschung, Einschränkung, Datenübertragbarkeit,
        Widerruf und Widerspruch zu. Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht
        verstösst oder Ihre datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich
        bei der Aufsichtsbehörde beschweren.
    </p>

    <p>Sie erreichen uns unter folgenden Kontaktdaten:</p>
    <p class="mb-6">Systemische Beratung | Marie Lass</br>Bernrainstrasse 31</br>8280 Kreuzlingen</br><a
            href="&#x6d;&#x61;&#x69;&#x6c;&#x74;&#x6f;&#x3a;&#x62;&#x65;&#x72;&#x61;&#x74;&#x75;&#x6e;&#x67;&#x40;&#x6c;&#x61;&#x73;&#x73;&#x75;&#x6e;&#x73;&#x72;&#x65;&#x64;&#x65;&#x6e;&#x2e;&#x63;&#x68;">beratung@lassunsreden.ch</a>
    </p>

    <p>Erstellt mithilfe von <a href="https://clus.ch/datenschutz-muster/">https://clus.ch/datenschutz-muster/</a></p>
</section>
{{ end }}