{{ define "main" }}

<section class="container mt-5 mb-7">
    <h1 class="h3 my-4 font-weight-bold">Impressum</h1>
    <h2 class="h4 mb-4 mt-5">Kontakt-Adresse</h2>
    <p class="lead">Systemische Beratung Marie Lass</p>

    <h3 class="h5">Privatadresse:</h3>
    <p>Marie Lass<br />Bernrainstr. 31<br />8280 Kreuzlingen<br />Schweiz</p>
    <h3 class="h5">Geschäftsadresse:</h3>
    <p>Folgt.</p>
    <p>E-Mail: <a
            href="&#x6d;&#x61;&#x69;&#x6c;&#x74;&#x6f;&#x3a;&#x62;&#x65;&#x72;&#x61;&#x74;&#x75;&#x6e;&#x67;&#x40;&#x6c;&#x61;&#x73;&#x73;&#x75;&#x6e;&#x73;&#x72;&#x65;&#x64;&#x65;&#x6e;&#x2e;&#x63;&#x68;">beratung@lassunsreden.ch</a>
    </p>

    <h2 class="h4 mb-4 mt-5">Haftungsausschluss</h2>
    <p>Der Autor übernimmt keinerlei Gewähr hinsichtlich der inhaltlichen
        Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit der Informationen.</p>
    <p>Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller Art, welche aus dem Zugriff
        oder der Nutzung bzw. Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der Verbindung oder
        durch technische Störungen entstanden sind, werden ausgeschlossen.</p>
    <p>Alle Angebote sind unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das
        gesamte Angebot ohne besondere Ankündigung zu verändern, zu ergänzen, zu löschen oder die
        Veröffentlichung zeitweise oder endgültig einzustellen.</p>

    <h2 class="h4 mb-4 mt-5">Haftungsausschluss für Links</h2>
    <p>Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres Verantwortungsbereichs. Es wird jegliche
        Verantwortung für solche Webseiten abgelehnt. Der Zugriff und die Nutzung solcher Webseiten erfolgen auf
        eigene
        Gefahr des jeweiligen Nutzers.</p>
    <h2 class="h4 mb-4 mt-5">Urheberrechte</h2>
    <p>Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf dieser Website,
        gehören ausschliesslich <strong>Marie Lass</strong> oder den speziell genannten Rechteinhabern. Für die
        Reproduktion jeglicher Elemente ist die schriftliche Zustimmung des Urheberrechtsträgers im Voraus
        einzuholen.
    </p>
    <h3 class="h5 mb-4">Bildquellen</h3>
    <ol>
        <li>
            Profilbild: Maxine Laß
        </li>
        <li>
            Junge vor Stufen: Jukan Tateisi <a href="https://unsplash.com/photos/bJhT_8nbUA0" target="_blank"
                rel="noreferrer">Link</a>
        </li>
        <li>
            Icons: <a href="https://icons.getbootstrap.com/" target="_blank" rel="noreferrer">Bootstrap</a>
        </li>
    </ol>



    <!--ACHTUNG: Wenn Sie die Quelle ohne Erlaubnis von SwissAnwalt entfernen, dann begehen Sie eine Urheberrechtsverletzung welche in jedem Fall geahndet wird.-->
    <p>Quelle: <a href="https://www.swissanwalt.ch" target="_blank" rel="noreferrer">SwissAnwalt</a></p>
    <!--Bitte beachten Sie die AGB von SwissAnwalt betreffend allfällig anfallenden Kosten bei Weglassen der Quelle!-->
</section>
{{ end }}