body {
  overflow-y: scroll;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.55);
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.no-glow,
.no-glow:focus,
.no-glow:active {
  box-shadow: none !important;
  outline: 0px !important;
}

#typewriterA {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  border-right: 2px solid black;
  animation: blink-caret 0.75s step-end infinite;
  animation-delay: -0s;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.hop-in {
  opacity: 0;
}

.hop-in-animation {
  animation: 1s hiamimate forwards !important;
}

@keyframes hiamimate {
  from {
    transform: translate(0, 200px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.uc-embedding-container {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
}

.custom-card {
  width: 235px;
  height: 570px;
  margin-top: 15px;
}

@media screen and (max-width: 1199px) {
  .custom-card {
    width: 50%;
    height: 570px;
  }
}
@media screen and (max-width: 530px) {
  .custom-card {
    width: 100%;
    height: 570px;
    margin-top: 15px;
  }
}

.highlight-card {
  height: 600px;
  width: 255px;
  padding-top: 38px !important;
  margin-top: 0;
}

.highlight-card .btn {
  width: 180px !important;
}

.drag-n-drop-highlight {
  background: rgba(19, 88, 143, 0.05);
}

.drag-n-drop {
  border: 1px dashed black;
  height: 350px;
  width: 800px;
  max-width: 100%;
}
.drag-n-drop:hover {
  cursor: pointer;
}

.circle-animation {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 0.5s ease-in-out;
}

.stroke1-animation {
  opacity: 0;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 0.5s ease-in-out forwards;
  animation-delay: 0.4s;
}

.stroke1-short-animation {
  opacity: 0;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 0.5s ease-in forwards;
  animation-delay: 0.4s;
}

.stroke2-animation {
  opacity: 0;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 0.5s ease-in-out forwards;
  animation-delay: 0.7s;
}

.stroke2-short-animation {
  opacity: 0;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 0.2s ease-out forwards;
  animation-delay: 0.6s;
}

@keyframes dash {
  0% {
    opacity: 1;
    stroke-dashoffset: 1000;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

.blink-animation {
  animation: 1s blink infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#featured .card {
  img {
    min-height: 300px;
    object-fit: cover;
    height: inherit;
    max-height: 550px;

    @media (min-width: map-get($grid-breakpoints, "lg")) and (max-width: map-get($grid-breakpoints, "xl")-1) {
      height: 440px;
    }
  }
}

.card-body,
.card {
  transition: background-color 100ms;

  h3 {
    font-size: 20px;
  }

  &:hover {
    cursor: pointer;
    background-color: darken($color: $card-bg, $amount: 10%);
  }

  &:active {
    background-color: darken($color: $card-bg, $amount: 15%);
  }

  img {
    min-height: 150px;
    height: 18vw;
    object-fit: cover;
    max-height: 260px;

    @media (max-width: map-get($grid-breakpoints, "md")) {
      height: inherit;
    }
  }

  &.horizontal {
    
    img {
      width: 100%;
      object-fit: cover;
      min-height: inherit;
      max-height: 260px;
    }

    @media (min-width: map-get($grid-breakpoints, "md")) {
      img {
        height: 110px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }


    @media (max-width: map-get($grid-breakpoints, "md")) {
      img {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }
  }
}

.unstyled {
  &,
  &:visited,
  &:hover,
  &:active,
  &:focus,
  &:active:hover {
    color: inherit;
    text-decoration: none;
  }
}

.hero {
  margin-top: 100px;

  @media (max-width: map-get($grid-breakpoints, "md")) {
    margin-top: 50px;
  }


  img {
    max-height: 600px;
    object-fit: cover;
  }
}

.protect-your-data {
  position: relative;
  background: #e7eff4;
  font-weight: $font-weight-bold;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    right: 0;
  }

  .container {
    width: 90%;
  }

  &.columns-1 {
    h2 {
      font-size: 27px;
      font-weight: $font-weight-bold;
    }

    ul {
      display: flex;
      font-size: 1.2em;
      flex-wrap: wrap;
      flex: 1 1 auto;
      flex-direction: column;
      justify-content: space-around;

      li {
        width: 100%;

        &:last-child {
          margin-bottom: 2rem;
        }
      }
    }
  }

  &.columns-2 {
    ul {
      margin-top: $spacer;
      display: flex;
      font-size: 1.2em;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 0px 80px;


      @media (max-width: map-get($grid-breakpoints, "xl")) {
        padding: 0;
      }

      li {
        width: 40%;
        margin-bottom: 2*$spacer !important;

        @media (max-width: map-get($grid-breakpoints, "md")) {
          width: 100%;
        }
      }
    }
  }

  .fa-ul {
    .fa-li {
      top: 3px;
      left: -2.3em;
    }

    i.far {
      color: #28a745;
      font-size: 1.2em;
    }
  }

  .ruler {
    background-color: black;
    width: 100%;
    height: 2px;
  }

  .btn {
    width: 256px;
    max-width: 100%;
    font-size: 22px;
    padding-top: 9px;
    padding-bottom: 10px;
  }
}

.container-lg {
  max-width: map-get($grid-breakpoints, "lg");
}

.underlined h2 {
  padding-bottom: 4px;
  border-bottom: 2px solid $primary;
  display: inline-block;

  &.blog {
    font-size: 20px;
    font-weight: bold;
  }

  &::first-letter {
    margin-left: -0.07em;
  }
}

.blog-content {
  color: #575757;
  font-size: 20px;
  overflow-wrap: break-word;

  h2 {
    font-size: 20px;
    font-weight: bold;
    color: $body-color;
    margin-bottom: 20px;
    margin-top: 52px;
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    color: $body-color;
    margin-bottom: 18px;
    margin-top: 45px;
  }

  strong {
    color: $body-color;
  }

  img {
    width: 100%;
    border-radius: $border-radius;
  }
}

section.related-articles img {
  max-height: 200px;
}

.blockquote {
  font-weight: $font-weight-light;
  font-style: italic;
  border-left: solid 2px $gray-300;
  padding-left: $spacer
}