<!DOCTYPE html>
<html lang="de">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ .Site.Params.Description }}">

    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Site.Params.Description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:locale" content="{{ .Site.LanguageCode }}" />
    <meta property="og:image" content="{{ "/img/marie-rumo-cropped-compressed.jpeg" | absURL }}" />

    <!-- JavaScript -->
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap-4.3.1.min.js"></script>

    <title>{{ .Title }}</title>

    {{ $style := resources.Get "scss/main.scss" | resources.ToCSS (dict "outputStyle" "compressed") | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

</head>

<body>
    {{ partial "header" . }}

    {{ block "main" . }}{{ end }}

    {{ partial "footer" . }}

</body>

</html>