<!DOCTYPE html>
<html lang="de">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ .Params.Description }}">

    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Site.Params.Description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:locale" content="{{ .Site.LanguageCode }}" />
    <meta property="og:image" content="{{ "/img/marie-rumo-cropped-compressed.jpeg" | absURL }}" />

    {{ if not .Page.Params.index}}
    <meta name="robots" content="noindex, follow" />
    {{ end }}


    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/favicon/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/favicon/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/favicon/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16.png">
    <link rel="apple-touch-icon" href="/favicon/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/favicon-180.png">
    <meta name="msapplication-TileColor" content="#347C38">
    <meta name="msapplication-TileImage" content="/favicon/favicon-144.png">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">

    <link rel="preload" as="font" type="font/woff2" href="/fonts/raleway-v18-latin-200.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="/fonts/raleway-v18-latin-300.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="/fonts/raleway-v18-latin-regular.woff2" crossorigin>

    <!-- JavaScript -->
    <script defer src="/js/jquery-3.5.1.min.js"></script>
    <script defer src="/js/bootstrap-4.3.1.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3ZKXY2YE1E"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-3ZKXY2YE1E');
    </script>

    <title>{{ .Title }}</title>

    {{ $styles := resources.Get "scss/main.scss" | toCSS | postCSS | minify }}
    <style>
        {{ $styles.Content | safeCSS }}
    </style>

    
</head>

<body>
    {{ partial "header" . }}

    {{ block "main" . }}{{ end }}

    {{ partial "footer" . }}

</body>

</html>