<footer class="bg-primary text-white py-5">
    <div class="container">
        <div class="row mb-4">
            <div class="col-12 col-sm-6 mb-5">
                <a class="text-white" href="/">
                    Systemische Beratung | <small>Marie Lass</small>
                </a>
                <p><small>E-Mail: <a class="text-white "
                            href="&#x6d;&#x61;&#x69;&#x6c;&#x74;&#x6f;&#x3a;&#x62;&#x65;&#x72;&#x61;&#x74;&#x75;&#x6e;&#x67;&#x40;&#x6c;&#x61;&#x73;&#x73;&#x75;&#x6e;&#x73;&#x72;&#x65;&#x64;&#x65;&#x6e;&#x2e;&#x63;&#x68;">beratung@lassunsreden.ch</a>
                    </small></p>

            </div>
            <div class="col-12 col-sm-3">
                <h3 class="h5 mb-3">Navigation</h3>
                <ul class="ml-lg-auto">
                    <li class="my-1 my-sm-0">
                        <a class="text-white" href="/#">Home</a>
                    </li>
                    <li class="my-1 my-sm-0">
                        <a class="text-white" href="/#offer">Angebot</a>
                    </li>
                    <li class="my-1 my-sm-0">
                        <a class="text-white" href="/#about-me">Über mich</a>
                    </li>
                    <li class="my-1 my-sm-0">
                        <a class="text-white" href="/#pricing">Preise</a>
                    </li>
                    <li class="my-1 my-sm-0">
                        <a class="text-white" href="/#contact">Kontakt</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-3">
                <h3 class="h5 mb-3 mt-3 mt-sm-0">Rechtliches</h3>
                <ul class="ml-lg-auto">
                    <li class="my-1 my-sm-0">
                        <a class="text-white" href="/impressum">Impressum</a>
                    </li>
                    <li class="my-1 my-sm-0">
                        <a class="text-white" href="/privacy">Datenschutz</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <p class="love">
            Made with&nbsp;<span class="heart-icon">
                <svg class="bi" width="14" height="14" fill="currentColor">
                    <use xlink:href="/icons/bootstrap-icons.svg#heart-fill" />
                </svg>
            </span>&nbsp;by <a href="https://github.com/dennis-tra" class="text-white" target="_blank">Dennis
                Trautwein</a>
        </p>
    </div>
</footer>