<header>
      <nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-white sticky-top">
            <div class="container">
                  <a class="navbar-brand" href="/">
                        Beratung & Therapie | <small>Marie Lass</small>
                  </a>
                  <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-lg-auto">
                              <li class="nav-item mr-3">
                                    <a class="nav-link font-weight-bold" href="#">Home</a>
                              </li>
                              <li class="nav-item mr-3">
                                    <a class="nav-link font-weight-bold" href="#offer">Angebot</a>
                              </li>
                              <li class="nav-item mr-3">
                                    <a class="nav-link font-weight-bold" href="#about">Über mich</a>
                              </li>
                              <li class="nav-item mr-3">
                                    <a class="nav-link font-weight-bold" href="#pricing">Preise</a>
                              </li>
                              <li class="nav-item mr-3">
                                    <a class="nav-link font-weight-bold" href="#contact">Kontakt</a>
                              </li>
                        </ul>
                  </div>
            </div>
      </nav>
</header>