<header>
      <nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-white sticky-top">
            <div class="container">
                  <a class="navbar-brand" href="/">
                        <span class="d-none d-sm-inline">Systemische</span> Beratung & Therapie | <small>Marie
                              Lass</small>
                  </a>
                  <button class="navbar-toggler no-glow" type="button" data-toggle="collapse" data-target="#navbar"
                        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"
                        style="border: none;">
                        <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav ml-lg-auto">
                              <li class="nav-item mr-3">
                                    <a class="nav-link" href="#">Home</a>
                              </li>
                              <li class="nav-item mr-3">
                                    <a class="nav-link" href="#offer">Angebot</a>
                              </li>
                              <li class="nav-item mr-3">
                                    <a class="nav-link" href="#about-me">Über mich</a>
                              </li>
                              <li class="nav-item mr-3">
                                    <a class="nav-link" href="#pricing">Preise</a>
                              </li>
                              <li class="nav-item mr-3">
                                    <a class="nav-link" href="#contact">Kontakt</a>
                              </li>
                        </ul>
                  </div>
            </div>
      </nav>
</header>