{{ define "main" }}
<section id="hero">
    <div class="container d-flex flex-fill flex-column justify-content-center align-items-center text-center">
        <h1>Beratung & Therapie<br class="d-sm-none" /><span class="d-sm-inline">&nbsp;</span>in Kreuzlingen</h1>
        <h2>Marie Lass</h2>
    </div>
</section>

<div class="banner">
    <div class="container py-5">
        <p class="banner-quote">"Es ist nicht wichtig wie groß der erste Schritt ist, sondern in welche Richtung er
            geht."</p>
    </div>
</div>

<section class="mb-7">
    <div class="white-gradient mb-5">
        <img class="background" src="/img/boy-stairs-cropped-compressed.jpg"
            alt="Ein kleiner Junge steht vor einer Treppem mit sehr vielen, scheinbar unüberwindbaren Stufen.">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <h2 id="offer">Systemische Beratung und Therapie</h2>
                    <p class="lead">
                        Der systemische Ansatz betrachtet ein Problem im System, in dem es entsteht.
                    </p>
                    <p>Das System kann zum Beispiel eine Familie, ein Paar oder ein Team sein. Möglich ist aber auch,
                        das
                        innere Team einer einzelnen Person auf systemische Weise zu betrachten. Auf überaus
                        wertschätzende
                        Art hilft diese Betrachtungsweise dabei, neue Perspektiven zu eröffnen und die Last von den
                        Schultern einer einzelnen Person zu nehmen. Mit fachlich fundierten und gleichzeitig lebendigen
                        Methoden werden Sie durch mich angeleitet, mit sich und ihrem System in Bewegung zu kommen. Denn
                        Bewegung macht Veränderung möglich.</p>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="container">
            <h3 class="text-center mb-5 m-0">Ich biete Unterstützung bei</h3>
            <div class="row justify-content-around">
                {{ range $.Site.Data.support.callouts }}
                <div class="col-6 col-md-6 col-lg-3 text-center text-dark my-4">
                    <div class="my-3">
                        <svg class="bi" width="32" height="32" fill="currentColor">
                            <use xlink:href="/icons/bootstrap-icons.svg#{{ .icon }}" />
                        </svg>
                    </div>
                    <p class="lead">{{ .text | safeHTML }}</p>
                </div>
                {{ end }}
            </div>
            <div class="lur-jumbotron lur-jumbotron-primary my-4">
                <p class="m-0 text-center">
                    Sollten Sie sich und ihr Thema in den genannten
                    Beispielen nicht wiederfinden, können wir gerne in einem persönlichen
                    Gespräch herausfinden, ob Sie bei mir gut aufgehoben sind.
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container pb-5">
        <div class="row">
            <div class="col mb-5 order-lg-2 col-lg-6 d-flex justify-content-center align-items-center">
                <img class="portrait rounded-circle" src="/img/marie-rumo-cropped-compressed.jpeg"
                    alt="Portrait von Marie Lass zusammen mit ihrem Hund Rumo.">
            </div>
            <div class="col col-12 col-lg-6">
                <h2 id="about-me">Über mich</h2>
                <p class="lead">
                    Mein Name ist Marie Lass.
                </p>
                <p>
                    Als gebürtiges Nordlicht verliess ich im April 2020 Hamburg, um mich auf
                    das Abenteuer Schweiz einzulassen. Von Beginn an faszinierte mich die überwältigende Natur. Die Nähe
                    zum Wasser hier in Kreuzlingen weckt in mir das Gefühl von Heimat und auch die Nähe zu den Bergen
                    lässt mein Herz höher schlagen. Am liebsten streife ich mit meinem Hund durch die Natur und tanke
                    Kraft.
                </p>
                <p>
                    Damit, dass ich meine eigene Praxis eröffnet habe, um selbständig Beratung und Therapie anzubieten,
                    erfüllte ich mir einen Herzenswunsch. Hier kann ich ganz ohne den Auftrag einer dritten Partei
                    (Schule, Jugendamt, etc.) frei mit den Wünschen der Klientinnen und Klienten arbeiten. Dies
                    unterstützt eine ehrliche und direkte Zusammenarbeit.
                </p>
            </div>
        </div>
    </div>

    <h3 class="text-center text-uppercase border-top border-bottom p-4 m-0">Ausbildung</h3>
    <div class="vita p-4">
        {{ range $idx, $entry := $.Site.Data.vita.education }}
        {{ partial "vita-entry.html" (dict "entry" . "idx" $idx ) }}
        {{ end }}
    </div>

    <h3 class="text-center text-uppercase border-top border-bottom p-4 m-0">Berufliche Laufbahn</h3>
    <div class="vita p-4">
        {{ range $idx, $entry := $.Site.Data.vita.work_experience }}
        {{ partial "vita-entry.html" (dict "entry" . "idx" $idx ) }}
        {{ end }}
    </div>

</section>


<div class="banner my-4">
    <div class="container py-5">
        <p class="text-center lead text-bold">Lass uns reden, Problem!</p>
    </div>
</div>
<!-- <h3 class="text-center text-uppercase border-top border-bottom p-4 m-0">Lass uns reden, Problem!</h3> -->

<section>
    <div class="container pt-5 pb-4">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-6">
                <h2 id="pricing">Preise</h2>
                <p>
                    Da ich mich aktuell noch in den letzten Zügen meiner Weiterbildung zur systemischen Beraterin und
                    Therapeutin befinde, können Sie sich bei mir zu vergleichsweise niedrigen Preisen beraten lassen.
                </p>
                <p>Entgegen der in der Schweiz üblichen Staffelung der Preise bei mehreren Personen, biete ich Ihnen
                    einen
                    festen Preis für meine Beratung. Ich möchte Sie dazu ermutigen, mit allen für ihr Problem relevanten
                    Personen an der Beratung teilzunehmen. Für ein Gespräch können sie <strong>ca. 60 Minuten</strong>
                    einplanen.
                </p>
            </div>
            <div class="col-12 col-lg-5 d-flex flex-column justify-content-center mt-3 mt-sm-0">
                <div class="lur-jumbotron lur-jumbotron-primary my-2 d-flex justify-content-between align-items-center">
                    <s>
                        <span>
                            Preis pro Gespräch vor Ort:
                        </span>
                    </s>
                    <s><span class="price font-weight-bold">120 CHF</span></s>

                </div>
                <p class="text-muted font-weight-light text-center">Ausgesetzt wegen <span
                        class="badge badge-danger">Covid-19</span></p>

                <!-- <div class="lur-jumbotron lur-jumbotron-primary my-2 d-flex justify-content-between align-items-center">
                    <span>
                        Preis pro Gespräch online/telefonisch:
                    </span>
                    <span class="price font-weight-bold">80 CHF</span>
                </div> -->
            </div>
        </div>
    </div>

    <div class="container pb-5 pt-4">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-6">
                <h3 class="h4">Beratung unter Pandemiebedingungen</h3>
                <p class="lead">Covid-19 verbreitet eine große Unsicherheit im Alltag.</p>
                <p>
                    Dies kann für jeden Einzelnen und jede Einzelne, neben ernsthafter
                    physischer Krankheit, zu einer großen seelischen Belastung führen. Aus diesem Grund ist es mir ein
                    Anliegen, gerade jetzt mein Beratungsangebot aufrecht zu erhalten, wenn auch in etwas anderer Form.
                </p>
            </div>
            <div class="col-12 col-lg-5 d-flex flex-column justify-content-center mt-3 mt-sm-0">
                <div class="lur-jumbotron lur-jumbotron-yellow my-2 d-flex justify-content-between align-items-center">
                    <span>
                        Spaziergang durch den Seeburgpark:
                    </span>
                    <span class="price font-weight-bold">120 CHF</span>
                </div>
                <div class="lur-jumbotron lur-jumbotron-yellow my-2 d-flex justify-content-between align-items-center">
                    <span>
                        Preis pro Gespräch online/telefonisch:
                    </span>
                    <span class="price font-weight-bold">80 CHF</span>
                </div>
            </div>
        </div>


        <!-- <div class="alert alert-warning" role="alert">
            This is a warning alert—check it out!
        </div> -->
    </div>
</section>

<hr>

<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h2 id="contact">Kontakt</h2>
                <p class="lead">
                    Sie haben ein Anliegen und möchten mich kontaktieren?
                </p>
                {{ partial "contact-form" . }}
            </div>
            <div
                class="col-12 col-lg-6 d-none d-lg-flex justify-content-center align-items-center text-primary mt-4 mt-sm-0">
                <span><svg class="bi" width="100" height="100" fill="currentColor">
                        <use xlink:href="/icons/bootstrap-icons.svg#envelope" />
                    </svg></span>
            </div>
        </div>
    </div>
</section>
{{ end }}